<footer class="footer bg-dark w-100 py-3 position-relative bottom-0 start-50 translate-middle-x mt-5">
    <div class="container">
        <div class="text-end">
        <span class="text-light">
            Express JS example. &copy;2022
        </span>
            <div class="text-light">
                <small>Used NodeJS, Express Js, EJS, Bootstrap 5, Vue 3.</small>
            </div>
        </div>
    </div>
</footer>
