<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div class="container">
    <%- include('./partials/navbar'); %>
    <%- include('./partials/welcome'); %>
    <div id="app">
        <div class="card text-center text-bg-light mb-3">
            <div class="card-header">
                Add new todo
            </div>
            <div class="card-body">
                <form @submit.prevent="createTodo">
                    <div class="mb-3">
                        <input class="form-control" type="text" v-model="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                Total todos: {{todos.length}}
            </div>
        </div>

        <div class="spinner-border text-primary" role="status" v-if="todos.length === 0">
            <span class="visually-hidden">Loading...</span>
        </div>

        <div v-else class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" v-for="todo in todos">
                <div class="card mb-3"
                     v-bind:class="(todo.status==='done') ? 'text-bg-success' : (todo.status==='created'  ? 'text-bg-info' : 'text-bg-secondary')"
                     style="max-width: 18rem;">
                    <div class="card-header"> {{ todo.name }}</div>
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ todo.id }}</strong></h5>
                        <p class="card-text"><strong>{{ todo.status }}</strong></p>
                        <button type="button" class="btn btn-warning" @click="remove(todo.id)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</div>

<script src="/app.js"></script>
</body>
</html>
